trunk/xml/Model.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	targetNamespace="http://damaris.gforge.inria.fr/Damaris/Model"
	xmlns:mdl="http://damaris.gforge.inria.fr/Damaris/Model">

	<!-- Client node -->
	<xs:complexType name="ClientsModel">
	<xs:attribute name="count" type="xs:unsignedInt" use="required"/>	
	</xs:complexType>

	<!-- Cores node -->
	<xs:complexType name="CoresModel">
	<xs:sequence>
		<xs:element name="clients" type="mdl:ClientsModel"/>
	</xs:sequence>
	<xs:attribute name="count" type="xs:unsignedInt" use="required"/>
	</xs:complexType>

	<!-- Buffer node -->
	<xs:complexType name="BufferModel">
	<xs:attribute name="name" type="xs:string"      use="required"/>
	<xs:attribute name="size" type="xs:unsignedInt" use="required"/>
	<xs:attribute name="type" type="xs:string"	use="optional" default="posix"/>
	</xs:complexType>	

	<!-- Queue node -->
	<xs:complexType name="QueueModel">
	<xs:attribute name="name" type="xs:string"      use="required"/>
	<xs:attribute name="size" type="xs:unsignedInt" use="required"/>
	<xs:attribute name="type" type="xs:string"	use="optional" default="posix"/>
	</xs:complexType>

	<!-- Architecture node -->
	<xs:complexType name="ArchitectureModel">
	<xs:sequence>
		<xs:element name="cores"  type="mdl:CoresModel" />
		<xs:element name="buffer" type="mdl:BufferModel"/>
		<xs:element name="queue"  type="mdl:QueueModel" />
	</xs:sequence>
	<xs:attribute name="name" type="xs:string" use="optional"/>
	</xs:complexType>

	<!-- Layout node -->
	<xs:complexType name="LayoutModel">
	<xs:sequence>
		<xs:element name="description" type="xs:string" minOccurs="0"/>
	</xs:sequence>
	<xs:attribute name="name"       type="xs:string" use="required"/>
	<xs:attribute name="type"       type="xs:string" use="required"/>
	<xs:attribute name="dimensions" type="xs:string" use="required"/>
	<xs:attribute name="language"   type="xs:string" use="optional" default="?"/>
	</xs:complexType>

	<!-- Variable node -->
	<xs:complexType name="VariableModel">
	<xs:simpleContent>
	<xs:extension base="xs:string">
	<xs:attribute name="name"    type="xs:string"  use="required"/>
	<xs:attribute name="unit"    type="xs:string"  use="optional" default=""/>
	<xs:attribute name="layout"  type="xs:string"  use="required"/>
	<xs:attribute name="enabled" type="xs:boolean" use="optional"/>
	</xs:extension>
	</xs:simpleContent>
	</xs:complexType>

	<!-- Group node -->
	<xs:complexType name="GroupModel">
	<xs:sequence>
		<xs:element name="variable" 
			type="mdl:VariableModel" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="group"    
			type="mdl:GroupModel"    minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
	<xs:attribute name="name"    type="xs:string"  use="required"/>
	<xs:attribute name="enabled" type="xs:boolean" use="optional" default="true"/>
	</xs:complexType>

	<!-- Parameter node -->
	<xs:complexType name="ParameterModel">
	<xs:sequence>
		<xs:element name="description" type="xs:string" minOccurs="0"/>
	</xs:sequence>
	<xs:attribute name="name"  type="xs:string" use="required"/>
	<xs:attribute name="type"  type="xs:string" use="required"/>
	<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>

	<!-- Data node -->
	<xs:complexType name="DataModel">
	<xs:sequence>
		<xs:element name="parameter" type="mdl:ParameterModel" 
			minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="layout"    type="mdl:LayoutModel"    
			minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="variable"  type="mdl:VariableModel"  
			minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="group"     type="mdl:GroupModel"     
			minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
	</xs:complexType>

	<!-- Event node -->
	<xs:complexType name="EventModel">
	<xs:attribute name="name"    type="xs:string" use="required"/>
	<xs:attribute name="action"  type="xs:string" use="required"/>
	<xs:attribute name="library" type="xs:string" use="required"/>
	<xs:attribute name="scope"   type="xs:string" use="optional" default="core" />
	</xs:complexType>

	<!-- Script node -->
	<xs:complexType name="ScriptModel">
	<xs:attribute name="name"     type="xs:string" use="required" />
	<xs:attribute name="file"     type="xs:string" use="required" />
	<xs:attribute name="language" type="xs:string" use="required" />
	<xs:attribute name="scope"    type="xs:string" use="optional" default="core" />
	</xs:complexType>

	<!-- Actions node -->
	<xs:complexType name="ActionsModel">
	<xs:sequence>
		<xs:element name="event" type="mdl:EventModel" 
			minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="script" type="mdl:ScriptModel" 
			minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
	</xs:complexType>

	<!-- Simulation node -->
	<xs:complexType name="SimulationModel">
	<xs:sequence>
		<xs:element name="architecture" type="mdl:ArchitectureModel" 
			minOccurs="1" maxOccurs="1"/>
		<xs:element name="data"         type="mdl:DataModel"         
			maxOccurs="1"/>
		<xs:element name="actions"      type="mdl:ActionsModel"
			maxOccurs="1"/>
	</xs:sequence>
	<xs:attribute name="name"     type="xs:string" use="required"/>
	<xs:attribute name="language" type="xs:string" use="optional" default="C"/>
	</xs:complexType>

	<!-- Root element -->
	<xs:element name="simulation" type="mdl:SimulationModel"/>
</xs:schema>
